<!-- <div class="container1 mt-4">
    <div class="input-group mb-3">
        <input type="text" class="form-control custom-input" placeholder="Search any Recipe">
        <div class="input-group-append mx-2">
            <button class="btn btn-secondary">Search</button>
        </div>
    </div>
</div> -->

<!-- 
<div class="container"  *ngFor="let data of myData" >
    <div class="card" >
        <h5>Title : {{data.title}}</h5>
        <h5 class="mt-3">CookingTime : {{data.cookingTime}} </h5>
        <h5 class="mt-3">Summary :{{data.summary}}</h5>
        <h5 class="mt-3">Level : </h5>
        <h5 class="mt-3">Category :</h5>
        <h5 class="mt-3">Author :{{data.author}}</h5>
        <h5 class="mt-3">Ingredients :{{data.ingredients}} </h5>
        <h5 class="mt-3">Steps :{{data.steps}}</h5>
    </div>
</div> -->





<!-- <div class="container" *ngIf="selectedRecipe">
    <div class="card">
      <h5>Title: {{selectedRecipe.title}}</h5>
      <h5 class="mt-3">Cooking Time: {{selectedRecipe.cookingTime}}</h5>
      <h5 class="mt-3">Summary: {{selectedRecipe.summary}}</h5>
      <h5 class="mt-3">Level: {{selectedRecipe.level}}</h5>
      <h5 class="mt-3">Category: {{selectedRecipe.category}}</h5>
      <h5 class="mt-3">Author: {{selectedRecipe.author}}</h5>
      <h5 class="mt-3">Ingredients: {{selectedRecipe.ingredients}}</h5>
      <h5 class="mt-3">Steps: {{selectedRecipe.steps}}</h5>

      <div *ngIf="selectedRecipe.image && selectedRecipe.image.length">
        <h5 class="mt-3">Image:</h5>
        <div *ngFor="let img of selectedRecipe.image">
          <img [src]="img" alt="Recipe Image" style="width: 100%; max-width: 300px; height: auto; margin-bottom: 10px;">
        </div>
      </div>
    </div>
  </div> -->



<div class="container" *ngIf="selectedRecipe">
    <div>
        <button class="btn btn-outline-dark back-button" (click)="goToHome()">Back</button>
    </div>
    <div class="card">
        <div>
            <h5>Title:</h5>
            <ul *ngFor="let title of selectedRecipe.title">
                <strong>{{title}}</strong>
            </ul>
        </div>

        <div class="mt-3">
            <h5>Cooking Time:</h5>
            <ul *ngFor="let cookingTime of selectedRecipe.cookingTime">
                <strong>{{cookingTime}}</strong>
            </ul>
        </div>

        <div class="mt-3">
            <h5>Summary:</h5>
            <ul *ngFor="let summary of selectedRecipe.summary">
                <strong>{{summary}}</strong>
            </ul>
        </div>

        <div class="mt-3">
            <h5>Level:</h5>
            <ul *ngFor="let level of selectedRecipe.level">
                <strong>{{level}}</strong>
            </ul>
        </div>

        <div class="mt-3">
            <h5>Category:</h5>
            <ul *ngFor="let category of selectedRecipe.category">
                <strong>{{category}}</strong>
            </ul>
        </div>

        <div class="mt-3">
            <h5>Author:</h5>
            <ul *ngFor="let a of selectedRecipe.author">
                <strong>{{a}}</strong>
            </ul>
        </div>

        <div class="mt-3">
            <h5>Ingredients:</h5>
            <ul *ngFor="let ingredient of selectedRecipe.ingredients">
                <strong>{{ingredient}}</strong>
            </ul>
        </div>

        <div class="mt-3">
            <h5>Steps:</h5>
            <ul *ngFor="let step of selectedRecipe.steps; let i = index">
                <strong>Step {{i + 1}}:</strong> {{step}}
            </ul>
        </div>

        <!-- Display images if available -->
        <div *ngIf="selectedRecipe.image && selectedRecipe.image.length">
            <h5 class="mt-3" style="font-style: italic;color: darkred; font-weight: bold;">Picture of the Recipe:</h5>
            <div *ngFor="let img of selectedRecipe.image">
                <img [src]="img" alt="Recipe Image"
                    style="width: 100%; max-width: 300px; height: auto; margin-bottom: 10px;">
            </div>
        </div>





        <!-- <div class="container" *ngIf="selectedRecipe">
    <div *ngIf="selectedRecipe.image && selectedRecipe.image.length">
        <div *ngFor="let img of selectedRecipe.image">
            <img [src]="img" alt="Recipe Image"
                style=" background-size: contain; background-position: center;">
        </div>
    </div>
    <div class="card-img-overlay">
        <h5>Title: {{selectedRecipe.title}}</h5>
        <h5 class="mt-3">Cooking Time: {{selectedRecipe.cookingTime}}</h5>
        <h5 class="mt-3">Summary: {{selectedRecipe.summary}}</h5>
        <h5 class="mt-3">Level: {{selectedRecipe.level}}</h5>
        <h5 class="mt-3">Category: {{selectedRecipe.category}}</h5>
        <h5 class="mt-3">Author: {{selectedRecipe.author}}</h5>
        <h5 class="mt-3">Ingredients: {{selectedRecipe.ingredients}}</h5>
        <h5 class="mt-3">Steps: {{selectedRecipe.steps}}</h5>
    </div>
</div> -->