<!-- <nav class="navbar navbar-expand-lg custom-navbar">
  <a class="navbar-brand" href="home">
    <i class="bi bi-house-fill logo"></i>
  </a>
  <h3>Recipes</h3>
  <button type="button" class="logout btn btn-success" (click)="logout()">LogOut</button>
</nav> -->

<nav class="navbar navbar-light custom-navbar">
  <div class="container-fluid">
    <h1>Recipes</h1>
    <a class="navbar-brand" href="home">
      <i class="bi bi-house-fill "></i>
    </a>
    <div class="d-flex">
      <button type="button" class="btn btn-success" (click)="logout()">LogOut</button>
    </div>

  </div>

</nav>